.wrapper{
width: 90%;
    margin: auto;
    padding: 10px;

}

.content{
	clear: both;
	min-height: 500px;
}

.footer {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /* background-color: #efefef; */
    text-align: center;
	
}

.sidebar{
	width: 20%;

	margin-top: 20px;
	float: left;
	position: relative;
}

.right_content{
	width: 75%;

	margin-top: 20px;
	margin-left: 20px;
	float: left;
	position: relative;
	padding: 10px;
	
}

ul li{
	list-style-type: none;
	padding-left: 0;
}

ul{
	padding-left: 0;
}

ul.sidenav li{
	border: 1px solid blue;
	padding: 6px;
	margin: 4px;
	display: block;
	position: relative;
	background: green;

}

ul.sidenav li:hover{
	background: red;

}

ul.sidenav li a{
	padding: 6px;
	color: #fff;
	text-decoration: none;
}

.login_form{
		width: 50%;
		margin: 20px auto;
		padding: 30px;
		border: 2px solid #ccc;
	
}

.contact_form{
	width: 50%;
		margin: 20px auto;
		padding: 30px;
		border: 2px solid #ccc;
}

.cleared{
	clear: both;
}

.button_green{
    height: 40px;
    background: green;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 15px;

}

.button_green:hover{
    height: 40px;
    background: #FF5733 ;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 15px;

}


.small_button{
    height: 2px;
    background: blue;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    padding: 10px;
	font-size: 15px;
	

}


.right_side{
	float: right;
}

.inline{
	display: inline;
float: left;
}



.flash_success{
  background-color: #4CAF50;
      padding: 20px;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}


.flash_unsuccess{
        padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=search]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.text-center{
	text-align: center;
}




/* table design */

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.button_d{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button_d:hover{
    background-color: #FF5733  ; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.form_box{
	width: 70%;
	margin: auto;
	border: 1px solid gray;
	padding: 20px;
	
}

label{
	font-weight: bold;
}














/* navigation  */
.navbar {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	border: 1px solid gray;
	
	
}

.dropdown {
    float: left;
    overflow: hidden;
		border: 1px solid gray;
		color: #000000;
}

.dropdown a{
	color: #000000;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: navy;
	color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}