.wrapper{
	width: 90%;
	margin: auto;
	
	border: 1px solid gray;
    padding: 10px;
}

.content{
	clear: both;
	min-height: 400px;
}

.footer {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /* background-color: #efefef; */
    text-align: center;
}

.sidebar{
	width: 25%;
	border: 1px solid gray;
	margin-top: 20px;
	float: left;
	position: relative;
}

.right_content{
	width: 64%;
	border: 1px solid gray;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	position: relative;
	padding: 10px;
	
}

ul li{
	list-style-type: none;
	padding-left: 0;
}

ul{
	padding-left: 0;
}

ul.sidenav li{
	border: 1px solid blue;
	padding: 6px;
	margin: 4px;
	display: block;
	position: relative;
	background: green;

}

ul.sidenav li:hover{
	background: red;

}

ul.sidenav li a{
	padding: 6px;
	color: #fff;
	text-decoration: none;
}

.login_form{
		width: 50%;
		margin: 20px auto;
		padding: 30px;
		border: 2px solid #ccc;
	
}

.contact_form{
	width: 50%;
		margin: 20px auto;
		padding: 30px;
		border: 2px solid #ccc;
}

.cleared{
	clear: both;
}

.button_green{
    height: 40px;
    background: green;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 15px;

}

.button_green:hover{
    height: 40px;
    background: blue;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 15px;

}

.right_side{
	float: right;
}

.inline{
	display: inline;
float: left;
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.text-center{
	text-align: center;
}


/* navigation  */
.navbar {
    overflow: hidden;
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
	
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: navy;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}